[submodule "external/dic-mirror"]
	path = external/dic-mirror
	url = https://github.com/skk-users-jp/dic-mirror.git
[submodule "external/spacemacs"]
	path = external/spacemacs
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "external/literate-elisp"]
	path = external/literate-elisp
	url = https://github.com/jingtaozf/literate-elisp.git
[submodule "external/emacs-libvterm"]
	path = external/emacs-libvterm
	url = https://github.com/akermu/emacs-libvterm.git
