# 全てのファイルを無視する
# ドットから始まる設定ファイルも無視する
/*
/.*

# 除外するディレクトリ内の特定のファイルだけ有効にしたい

# 無視したくないファイルを以下に'![ファイル名]'で指定する
##### Gitで管理するファイル #####
!/.editorconfig
!/.gitattributes
!/.gitconfig
!/.gitignore
!/README.md
!/custom/
!/init.el
!/lisp/
!/util/

# 上記で指定したファイルで無視したいものを指定する
##### Gitで無視するファイル #####
/custom/.spacemacs.env
/custom/custom.el
*.elc
.DS_Store
