# 全てのファイルを無視する
# ドットから始まる設定ファイルも無視する
/*
/.*

# 無視したくないファイルを以下に'![ファイル名]'で指定する
##### Gitで管理するファイル #####
!/.editorconfig
!/.gitattributes
!/.gitconfig
!/.gitignore
!/README.md
!/init.el
!/custom/
!/external/
!/private/

# 上記で指定したファイルで無視したいものを指定する
##### Gitで無視するファイル #####
/custom/user-config.el
/custom/user-init.el
*.elc
.DS_Store
